<div class="footer">
    <p>©8BitVape 2019 - <a href="https://github.com/twij/8bitvape">Github</a> - <a href="https://qchat.rizon.net/?channels=#8bitvape">IRC</a> - <a href="https://discord.gg/KuSfsaZ">Discord</a> - <a href="https://steamcommunity.com/groups/8BitVape">Steam Community</a></p>
</div>