<div class="footer">
    <p><a href="https://github.com/twij/8bitvape" target="_blank">Github</a> - <a href="https://qchat.rizon.net/?channels=#8bitvape" target="_blank">IRC</a> - <a href="https://discord.gg/KuSfsaZ" target="_blank">Discord</a> - <a href="https://steamcommunity.com/groups/8BitVape" target="_blank">Steam Community</a> - ©8BitVape 2019</p>
</div>