<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta http-equiv="Content-Language" content="{{ config('app.locale') }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<meta property="og:type" content="website">
<meta property="og:url" content="https://8bitvape.com/">
<meta property="og:title" content="8BitVape">
<meta property="og:site_name" content="8BitVape">
{# <meta property="og:image" content="{{ img('theme::img/og.jpg').url }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="1200"> #}

<meta property="og:description" content="E-liquid recipes">
<meta name="description" content="E-liquid recipes">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="theme-color" content="#ffffff">

<title>
    8BitVape
</title>

<!-- Styles -->
<link href="{{ asset('css/normalize.css') }}" rel="stylesheet">
<link href="{{ asset('css/app.css') }}" rel="stylesheet">