@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  font-family: "Nunito", sans-serif;
  padding: 12px;
  background: url("/img/bgx1.png") no-repeat center center fixed;
  background-size: cover;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}

.pixelated {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -moz-crisp-edges;
      image-rendering: pixelated;
}

.auto {
  image-rendering: auto;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.wrapper {
  max-width: 1190px;
  width: calc(100% - 30px);
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
}

.header {
  margin: 10px auto;
  text-align: center;
}

a {
  text-decoration: none;
}

.mixes-container {
  padding: 10px;
  margin: 10px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mixes-container .mix-title {
  min-width: 50%;
}

.mixes-container h1 {
  font-size: 18px;
  font-weight: bold;
  margin: 3px;
}

.mixes-container h2 {
  font-size: 14px;
  margin: 3px;
}

.mixes-container .mix-icons {
  width: 50%;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  margin-left: 10px;
}

.mixes-container .mix-icons img {
  width: 26px;
  height: 26px;
  margin: 3px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-item {
  background-color: black;
  text-decoration: none;
  padding: 8px 16px;
  margin: 2px;
}

.page-item.active {
  font-weight: bold;
  color: white;
}

.page-item.disabled {
  font-weight: bold;
  color: white;
}

.page-item a {
  text-decoration: none;
  color: white;
}

.mix-container {
  padding: 10px;
  margin: 10px;
  background-color: #000;
  color: #fff;
}

.mix-container .mix-title h1 {
  margin: 5px 0;
}

.mix-container .mix-title h2 {
  margin: 5px 0;
}

.mix-recipe .flavour {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mix-recipe .flavour img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.mix-recipe .flavour .amount {
  margin-left: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  height: 2.5rem;
}

