body {
    font-family: 'Roboto', sans-serif;
    padding: 12px;
    background: url('/img/bgx1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: pixelated;
}

.pixelated {
    image-rendering: pixelated;
}

.auto {
    image-rendering: auto;
}

.text-right {
    text-align: right;
}

.page-container {
    position: relative;
    min-height: 95vh;
}

.wrapper {
    max-width: 1190px;
    width: calc(100% - 30px);
    margin: 0 auto;
    position: relative;
    padding-bottom: 2.5rem;
}

.header {
    margin: 10px auto;
    text-align: center;
}

a {
    transition-duration: 0.5s;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

a:visited {
    color: white;
}


.results-container {
    $total: length($colours);
    @for $i from 1 through length($colours) {
        & > a:nth-of-type(#{$total}n+#{$i}) > div:hover {
            background-color: adjust-color(nth($colours,  $i), $alpha: -0.3);
        }
    }

}

.mixes-container {
    transition-duration: 0.5s;
    padding: 10px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow:
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    border: 2px solid black;
    box-sizing: border-box;

    .mix-title {
        min-width: 50%;
    }

    h1 {
        font-size: 18px;
        font-weight: bold;
        margin: 3px;
    }

    h2 {
        font-size: 14px;
        margin: 3px;
    }

    .mix-icons {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-left: 10px;

        img {
            width: 30px;
            height: 30px;
            margin: 3px;

        }
    }
}

.search-container {
    padding: 5px;
    margin: 10px;
    background-color: #000;
    color: #fff;

    form {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .search {
        background-color: white;
        border: 1px solid white;
        padding: 2px 8px;
        margin: 5px;
        background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        box-sizing: border-box;

        @media screen and (max-width: 500px) {
            width: 100%;
            max-width: 100%;
        }
    }

    .btn-search {
        transition-duration: 0.5s;
        padding: 3px 8px;
        border-radius: 5px;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        border: 1px solid white;
        font-weight: 500;
        margin: 5px;
    }

    .btn-search:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid black;
    }

}

.mix-container {
    padding: 10px;
    margin: 10px;
    background-color: #000;
    color: #fff;

    .mix-title {
        display: flex;
        justify-content: space-between;

        h1 {
            margin: 5px 0;
        }

        h2 {
            margin: 5px 0;
        }
    }

    .mix-description {
        line-height: 24px;
    }

    .mix-recipe .flavour {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
        
        .amount {
            margin-left: 10px;
            font-weight: bold;
        }
    }
}

.comment-title {
    padding: 10px;
    margin: 30px 10px 10px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    text-align: center;

    h1 {
        margin: 10px;
    }
}

@media only screen and (max-width: 550px) {
    .comment-title {
        display: block;
    }
}

.comment-container {
    padding: 10px;
    margin: 10px;
    background-color: #000;
    color: #fff;

    h1 {
        margin: 0 0 5px 0;
        font-size: 18px;
        font-weight: 900;
    }

    h2 {
        margin: 0 0 5px 0;
        font-size: 14px;
        font-weight: normal;
    }

    p {
        margin-bottom: 0;
        line-height: 24px;
    }
}

.page-container {
    .title {
        padding: 2px 10px;
        margin: 10px;
        background-color: #000;
        color: #fff;
        text-align: center;
    }

    .content {
        padding: 10px;
        margin: 10px;
        background-color: #000;
        color: #fff;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    height: 2.5rem;
    text-align: right;
    line-height: 22px;

    a {
        color: black;
    }

    a:hover {
        color: black;
    }

    a:visited {
        color: black;
    }
}