.login-container {
    width: 30%;
    margin: 30px auto;
}

.login-form {
    padding: 10px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 690px) {
        display: block;
    }

    form {
        margin: 6px auto;

        h1 {
            margin: 5px;
            font-size: 18px;
        }

        .form-group {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            min-height: 35px;

            label {
                margin-right: 20px;
            }

            @media screen and (max-width: 950px) {
                justify-content: space-between;
            }
        }

        .form-check-input {
            margin: 5px;
        }

        .submit-group {
            display: flex;
            justify-content: flex-end;
        }

        .login {
            background-color: white;
            border: 1px solid white;
            padding: 2px 8px;
            margin: 5px;
            background-image: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            box-sizing: border-box;
        }
    
        .btn-login {
            transition-duration: 0.5s;
            padding: 3px 8px;
            background-color: #000;
            color: #fff;
            cursor: pointer;
            border: 1px solid white;
            font-weight: 500;
            margin: 15px;
            :hover {
                background-color: #fff;
                color: #000;
                border: 1px solid black;
            }
        }
    }
}