<p>8BitVape currently offers a limited API with no limits or restrictions. This will probably change in the future.</p>

<p>Endpoints are GET only and return data in JSON. You are free to use the data in any way you wish. <strong>Local caching is allowed and recommended.</strong> Commercial use is allowed (for now) without credit.</p>

<div class="warning">
    <p><strong>Warning!</strong> API is beta. End points and features may change whenever.</p>
</div>

<h2>Endpoints</h2>

<div class="endpoint">
    <p>Method: <strong>GET</strong></p>
    <p>URL: <strong>https://8bitvape.com/api/mix/*slug*</strong></p>
    <p>Description: Return a mix by its unique slug</p>
</div>

<div class="endpoint">
    <p>Method: <strong>GET</strong></p>
    <p>URL: <strong>https://8bitvape.com/api/search/*term*</strong></p>
    <p>Description: Search names of mixes and return results</p>
</div>

<div class="endpoint">
    <p>Method: <strong>GET</strong></p>
    <p>URL: <strong>https://8bitvape.com/api/find/*term*</strong></p>
    <p>Description: Search names of mixes and return first result</p>
</div>

<div class="endpoint">
    <p>Method: <strong>GET</strong></p>
    <p>URL: <strong>https://8bitvape.com/api/user/*username*</strong></p>
    <p>Description: Return mixes by a username</p>
</div>

<div class="endpoint">
    <p>Method: <strong>GET</strong></p>
    <p>URL: <strong>https://8bitvape.com/api/flavour/*slug*</strong></p>
    <p>Description: Return information about a flavour</p>
</div>

<div class="endpoint">
    <p>Method: <strong>GET</strong></p>
    <p>URL: <strong>https://8bitvape.com/api/flavour/*slug*</strong></p>
    <p>Description: Return comments for a mix</p>
</div>

<p>There are some basic JS functions used by nibblr in the GitHub repo <a href="https://github.com/twij/8bitvape/tree/master/resources/assets/js/nibblr-commands" target="_blank">here</a>.</p>

<p>If you have questions or comments, join IRC and ask there.</p>